<!DOCTYPE html>
<html lang="en">
<head>
    <title>Next-Level Leadership Game</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet'
          href='https://cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/slick.min.css'>
    <link rel='stylesheet'
          href='https:////cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/accessible-slick-theme.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/c7e593ee29.js" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <br>
            <a class="navbar-brand" href="/">
                <img src="../static/img/others/UB.png" alt="UB Logo" style="height: 50px;">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/game">Game</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li class="active"><a href="/about">About</a></li>
                <li><a href="/conferences">Conference Highlights</a></li>
            </ul>
        </div>
    </div>
</nav>


<!-- Main Content -->
<section class="container-fluid sec-3">
    <div class="container">
        <div class="row clearfix">
            <div class="col-sm-6">
                <h1>Meet our team!</h1>
                <p>Meet our amazing team making the conference a huge success every year!</p>
            </div>

            <div class="col-sm-6">
                <img src="assets/img/others/image2.svg" class="main-img img-responsive customizer-about-img">
            </div>
        </div>
    </div>
</section>

<section class="container-fluid sec4">
    <div class="container">
        <div class="row clearfix">
            <div class="col-sm-12">
                <div id="middleHero">
                    <h2 class="mentorTitle" id="mentorTitle">
                        <!-- Please don't remove old conference staffs list. Keep appending to the top of this section for subsequent years. - Tan, 7th Feb 25. -->
                        Conference 2026</h2>
                    <div class="row" id="mentors">
                        <div class="card-slider"></div>
                    </div>
                    <div style="clear: both; padding-bottom: 40px; "></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid sec4">
    <div class="container">
      <div class="row clearfix">
        <div class="col-sm-12">
          <div id="middleHeroStudent">
            <h2 class="mentorTitle" id="studentMentorTitle">Student Leaders</h2>
  
            <div class="row" id="studentMentors">
              <div class="card-slider"></div>
            </div>
  
            <div style="clear: both; padding-bottom: 40px;"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  

<script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>
<script src='https://code.jquery.com/jquery-3.5.1.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/slick.min.js'></script>
<script>
    $(document).ready(function () {
  
      
      var cards = [
        {
          name: "Susan O'Rourke",
          img: 'static/img/staffs/Susan.png',
          dsc: 'Assistant Dir Leadership & Development',
          linked: 'https://www.linkedin.com/in/susan-davis-orourke/'
        },
        {
          name: 'Ally Sievers',
          img: 'static/img/staffs/Ally Sievers.jpeg',
          dsc: 'LEAD Coordinator',
          linked: 'https://www.linkedin.com/in/allysievers/'
        },
        {
            name: 'Sarah Wack', 
            img: 'static/img/staffs/sarah_wack.jpg',
            dsc: 'LEAD Coordinator',
            linked: 'https://www.linkedin.com/in/sarahwack/'
            },
            {
                name: 'Nia Abdous', 
                img: 'static/img/staffs/nia_next_level.png',
                dsc: 'Graduate Assistant',
                linked: ''
            },

            {
                name: 'Elnaz Amini', 
                img: 'static/img/staffs/Elnaz Amini.jpeg',
                dsc: 'Graduate Assistant',
                linked: 'https://www.linkedin.com/in/elnazamini/'
            },
            

            {
                name: 'Inioluwa Adesanya', 
                img: 'static/img/staffs/inioluwa.jpg',
                dsc: 'Team Lead',
                linked: 'https://www.linkedin.com/in/inioluwa-adesanya-b0958621a'
            },

            {
                name: 'Keiven Lu', 
                img: 'static/img/staffs/Keiven.jpg',
                dsc: 'Team Support',
                linked: 'https://www.linkedin.com/in/keiven-lu/'
            },
            {
                name: 'Paige Kent', 
                img: 'static/img/staffs/Paige_Kent.png',
                dsc: 'Graduate Intern',
                linked: 'https://www.linkedin.com/in/paige-kent-74b480250/'
            },

      ];
  
      var $confSlider = $("#mentors .card-slider");
  
      cards.forEach(function (t) {
        var cardhtml = `<div class="card">
          <h2 class="title">${t.name}</h2>                                        
          <div class="image">
            <img src="${t.img}" alt="${t.dsc}">
          </div>
          <p class="description">${t.dsc}</p>
          <div class="button-28-div">
            <button onclick="window.location.href='${t.linked}'" class="button-28" role="button"
              ${(!t.linked || t.linked.trim() === "") ? "disabled" : ""}>
              Connect
            </button>
          </div>
        </div>`;
  
        $confSlider.append(cardhtml);
      });
  
      $confSlider.slick({
        dots: false,
        arrows: true,
        slidesToShow: 5,
        infinite: true,
        responsive: [
          { breakpoint: 1024, settings: { slidesToShow: 3 } },
          { breakpoint: 800, settings: { slidesToShow: 2 } },
          { breakpoint: 600, settings: { slidesToShow: 1 } }
        ]
      });
  
  
      
      var studentCards = [
            {
                name: 'Shaina Patash', 
                img: 'static/img/staffs/shaina.png',
                dsc: 'Community Assistant',
                linked: ''
            },

            {
                name: 'Shiv Salabah', 
                img: 'static/img/staffs/shiv.png',
                dsc: 'Research Assistant',
                linked: ''
            },
            {
                name: 'DJ Ruskzowki', 
                img: 'static/img/staffs/dj.png',
                dsc: 'Resident Assistant',
                linked: ''
            },
            {
                name: 'Will Dong', 
                img: 'static/img/staffs/will_dong.png',
                dsc: 'VP of clubs',
                linked: 'https://www.linkedin.com/in/williamdongub/'
            },

            {
                name: 'Hiya Hushar Patel', 
                img: 'static/img/staffs/hiya.png',
                dsc: 'peer mentor',
                linked: ''
            },
           
            {
                name: 'Parker Cantie', 
                img: 'static/img/staffs/parker.png',
                dsc: 'vp for leadership',
                linked: ''
            },

            {
                name: 'Natasha Acevedo', 
                img: 'static/img/staffs/natasha.png',
                dsc: 'Resident Assistant',
                linked:'https://www.linkedin.com/in/natasha-acevedo-429250266/'
            },
      ];
  
      var $studentSlider = $("#studentMentors .card-slider");
  
      studentCards.forEach(function (t) {
        var cardhtml = `<div class="card">
          <h2 class="title">${t.name}</h2>
          <div class="image">
            <img src="${t.img}" alt="${t.dsc}">
          </div>
          <p class="description">${t.dsc}</p>
          <div class="button-28-div">
            <button onclick="window.location.href='${t.linked}'" class="button-28" role="button"
              ${(!t.linked || t.linked.trim() === "") ? "disabled" : ""}>
              Connect
            </button>
          </div>
        </div>`;
  
        $studentSlider.append(cardhtml);
      });
  
      $studentSlider.slick({
        dots: false,
        arrows: true,
        slidesToShow: 5,
        infinite: true,
        responsive: [
          { breakpoint: 1024, settings: { slidesToShow: 3 } },
          { breakpoint: 800, settings: { slidesToShow: 2 } },
          { breakpoint: 600, settings: { slidesToShow: 1 } }
        ]
      });
  
    });
  
    
    var d = document.getElementById("defaultOpen");
    if (d) d.click();
  </script>
  
<!-- Footer -->
<section class="footer container">
    <div class=" clearfix">
        <div class="col-sm-12">
            <p>© 2026 Next-Level Leadership. All Rights Reserved.</p>
        </div>
    </div>
</section>

</body>
</html>
