<!DOCTYPE html>
<html lang="en">
<head>
    <title>Next-Level Leadership Game</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet'
          href='https://cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/slick.min.css'>
    <link rel='stylesheet'
          href='https:////cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/accessible-slick-theme.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/c7e593ee29.js" crossorigin="anonymous"></script>
</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <br>
            <a class="navbar-brand" href="/">
                <img src="../static/img/others/UB.png" alt="UB Logo" style="height: 50px;">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li class="active"><a href="/game">Game</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/conferences">Conference Highlights</a></li>
            </ul>
        </div>
    </div>
</nav>


<!-- Main Content -->
<section class="container-fluid sec-2 ">
    <div class="container">
        <div class="row clearfix nor">
            <form control="" class="form-group" action="/submit" method="post" enctype="multipart/form-data">
                <div class="col-sm-12 dopup">
                    <h1> Team {{team}}</h1>

                    {% for q_num in range(1, 17) %}
                    {% if q_num % 2 == 1 %}
                    <div class="row flex-row">
                        {% endif %}

                        <div class="col-sm-6 np">
                            {% set question_label = [
                            "1. Ice Breaker - Shared and Unique Tell us something that makes your team special. 10 points",
                            "2. Finding a Good Mentor - Find a Student Engagement Ambassador, take a selfie, upload it. 10 points.",
                            "3. Using LinkedIn — Locate your LinkedIn QR Code and connect with your teammates and SEA using the scan tab. 10 points.",
                            "4. Networking Beyond the Elevator Pitch—One question you will ask a mentor to show interest and curiosity. 30 points.",
                            "5. Navigating Imposter Syndrome — Take a photo of your post it note affirmation and upload it. 10 points.",
                            "6. Leading Authentically in the workplace — three words that describe you best. 10 points.",
                            "7. Mentorship in a digital world — write a thank you message to conference mentors and post it on the Kudoboard. 20 points.",
                            "8. Goal Setting — Tell us one SMART goal you want to achieve. 50 points.",
                            "9. Emotional Intelligence - Name one element that contributes to emotional intelligence. 50 points.",
                            "10. Your ideal supervisor — Compile a list of 5-7 traits that reflect your ideal qualities for a supervisor. 50 points.",
                            "11. How to find a mentor that is right for you—best advice you have heard to date. 20 points",
                            "12. Receiving Feedback—take a photo of your team post it and upload a photo of it. 50 points.",
                            "13. Storytelling as a leadership tool—one moment you felt proud of as a leader. 10 points.",
                            "14. Cross-generational mentoring—one thing you’ve learned from someone outside your generation. 10 points.",
                            "15. Resilience: Bouncing Back from Challenges—name a challenge you faced and strategies you used to overcome it. 10 points.",
                            "16. Mentor Bonuses. 10 points each."
                            ][q_num - 1] %}

                            <label for="Q{{ q_num }}">{{ question_label }}</label>

                            {% if q_num != 16 %}
                            {% if 'Q' + q_num|string in questions_correct %}
                            <input type="text" id="Q{{ q_num }}" name="Q{{ q_num }}" class="form__input" disabled>
                            {% else %}
                            <input type="text" id="Q{{ q_num }}" name="Q{{ q_num }}" class="form__input">
                            {% endif %}
                            {% else %}
                            <input type="text" id="Q16" name="Q16" class="form__input" {% if all_q16_used %}disabled{%
                                   endif %}>
                            {% endif %}
                        </div>
                        {% if q_num % 2 == 0 %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-sm-12 dopup text-center">
                    <input type="submit" value="Submit" class="btn">
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Footer -->
<section class="footer container">
    <div class=" clearfix">
        <div class="col-sm-12">
            <p>© 2026 Next-Level Leadership. All Rights Reserved.</p>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('.login-box h4').click(function () {
            $('form').hide()
            $('.' + $(this).data('target')).fadeIn()
        })
    })
</script>
</body>
</html>

