<!DOCTYPE html>
<html lang="en">
<head>
    <title>Next-Level Leadership Game</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet'
          href='https://cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/slick.min.css'>
    <link rel='stylesheet'
          href='https:////cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/accessible-slick-theme.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/c7e593ee29.js" crossorigin="anonymous"></script>
</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <br>
            <a class="navbar-brand" href="/">
                <img src="../static/img/others/UB.png" alt="UB Logo" style="height: 50px;">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/game">Game</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/conferences">Conference Highlights</a></li>
                <!-- <li class="active"><a href="/index">Leaderboard</a></li> -->
            </ul>

        </div>
    </div>
</nav>


<!-- Main Content -->
 

<section class="container-fluid sec-3">
    <div class="container">
        <div class="row clearfix">
            <div class="col-sm-6">
                <h6>Welcome to </h6>
                <h1>The Next Level Leadership Conference!</h1>
                <p>Here you will find motivated and inspiring mentors who will help you hone your leadership skills. Get
                    ready to make connections, learn new things, and take your leadership to the next level!</p>
            </div>
            <div class="col-sm-6">
                <img src="assets/img/others/image1.svg" class="main-img img-responsive">
            </div>
        </div>
    </div>
</section>

<section class="container-fluid sec4">
    <div class="container">
        <div class="row clearfix">
            <div class="col-sm-12">

                <div id="middleHero">

                    <h2 class="mentorTitle" id="mentorTitle">
                        Our Mentors</h2>
                    <div class="row" id="mentors">

                        <div class="card-slider"></div>
                    </div>
                    <div style="clear: both; padding-bottom: 40px; "></div>
                </div>


            </div>
        </div>
    </div>
</section>


<section class="container-fluid sec5">
    <div class="container">
        <div class="row clearfix">
            <h2>Today's Schedule</h2>
            <div class="col-sm-7 tabsss ">

                <div class="col-sm 12 np">

                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab1')" id="defaultOpen">8:30AM - 9:00AM</button>
                    </div>

                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab2')">9:00AM - 9:10AM</button>
                    </div>
                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab3')">9:15AM - 9:30AM</button>
                    </div>
                </div>

                <div class="col-sm 12 np">
                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab4')">9:30AM - 10:00AM</button>
                    </div>

                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab5')">10:10AM - 11:40AM</button>
                    </div>

                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab6')">11:40AM - 11:50PM</button>
                    </div>
                </div>

                <div class="col-sm 12 np">
                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab7')">11:50AM - 01:25PM</button>
                    </div>

                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab8')">01:30PM - 2:00PM</button>
                    </div>
                    
                    <!-- <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab9')">1:15PM - 2:00PM</button>
                    </div> -->
                </div>

            </div>

            <div class="col-sm-5 contenti">
                <div id="tab1" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">Student* Check-in 222 Student Union (SU)
                        <br>(*Students check in by 8:40 a.m. for BONUS tie-breaker points)
                    </p>
                </div>

                <div id="tab2" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">
                        Coffee and Networking Activity, Student Union 235</p>
                </div>

                <div id="tab3" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">Welcome Student Union Theater</p>
                </div>

                <div id="tab4" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">Game Begins Students SU Theater
                        <br>Mentor Orientation 235 SU</p>
                </div>
                <div id="tab5" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">Speed Introductions 210 SU and Social Hall
                        <br>Rotation with 235 SU</p>
                </div>
                <div id="tab6" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">Break outside 145 SU</p>
                </div>
                <div id="tab7" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">Mentor Huddles and Lunch Student Union 145</p>
                </div>
                <div id="tab8" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">Game Awards SU Theater</p>
                </div>
                <!-- <div id="tab9" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">Tie Breaker Kahoot and Game Prizes,
                        Student Union 145</p>
                </div> -->
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<section class="footer container">
    <div class=" clearfix">
        <div class="col-sm-12">
            <p>© 2026 Next-Level Leadership. All Rights Reserved.</p>
        </div>
    </div>
</section>


<script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>

<script src='https://code.jquery.com/jquery-3.5.1.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/slick.min.js'></script>
<script>
    $(document).ready(function () {
        var cards = [
  {
    name: 'Andrew Balys',
    img: 'static/img/mentors/Andrew_Balys.jpeg',
    dsc: 'Principal software engineer, Kgb Aviation solutions',
    linked: 'https://www.linkedin.com/in/andrew-Balys'
  },
  
  {
    name: 'Annika Samuels',
    img: 'static/img/mentors/Annika_Samuels.png',
    dsc: 'Director of Diversity and Inclusion, National Fuel',
    linked: 'https://www.linkedin.com/in/annika-samuels-40034523'
  },
  {
    name: 'Anthony Billoni',
    img: 'static/img/mentors/Anthony_Billoni.jpg',
    dsc: 'Founder, APEX Leader Growth LLC',
    linked: 'https://www.linkedin.com/in/abilloni/'
  },
  {
    name: 'Ashley Cannon-Zelasko',
    img: 'static/img/mentors/ashley_cannon-zelasko.jpg',
    dsc: 'Associate Director , UB',
    linked: 'https://www.linkedin.com/in/ashley-cannon-zelasko-527a9a143/'
  },
  {
    name: 'Becky Brubaker',
    img: 'static/img/mentors/Becky_Brubaker.jpg',
    dsc: 'Leadership Coach',
    linked: 'https://linkedin.com/in/beckybrubaker'
  },
  {
    name: 'Chelsea Montrois',
    img: 'static/img/mentors/Chelsea_Montrois.jpg',
    dsc: 'Product Designer, Anthology',
    linked: 'https://www.linkedin.com/in/chelseamontrois/'
  },
  {
    name: 'Craig Garner',
    img: 'static/img/mentors/Craig_Garner.png',
    dsc: 'Director of Operational Excellence, Ivoclar',
    linked: 'https://www.linkedin.com/in/craigjgarner'
  },
  {
    name: 'Dan Liebel',
    img: 'static/img/mentors/Dan_Liebel.jpg',
    dsc: 'Clinical Assistant Professor, UB ',
    linked: 'https://www.linkedin.com/in/daniel-liebel-a275b118/'
  },
  {
    name: 'Darren Cotton',
    img: 'static/img/mentors/Darren_Cotton.jpg',
    dsc: 'Executive Director, The Tool Library',
    linked: 'https://www.linkedin.com/in/darren-cotton-94656330/'
  },
  {
    name: 'Denise Herkey Jarosch',
    img: 'static/img/mentors/Denise_Herkey_Jarosch.jpg',
    dsc: 'Development Administrator,  BPPN',
    linked: 'https://www.linkedin.com/in/denisejarosch'
  },
  {
    name: 'Diane Gardner',
    img: 'static/img/mentors/Diane_Gardner.jpg',
    dsc: 'Board Director & Advisor,',
    linked: 'https://www.linkedin.com/in/dianegardnercfo/'
  },
  {
    name: 'Elisabeth Rebmann',
    img: 'static/img/mentors/Elisabeth_Rebmann.jpeg',
    dsc: 'Coordinator , UB',
    linked: 'https://www.linkedin.com/in/elisabethrebmann'
  },
  {
    name: 'Elizabeth Grady',
    img: 'static/img/mentors/Elizabeth_Grady.jpg',
    dsc: 'Owner and Operator of Grady Events, Grady Events',
    linked: 'https://www.linkedin.com/in/elizabeth-grady'
  },
  {
    name: 'Erin Belile',
    img: 'static/img/mentors/Erin_Belile.jpg',
    dsc: 'School Counselor, Buffalo Public School District',
    linked: 'https://www.linkedin.com/in/erin-belile/'
  },
  {
    name: 'Gloria Basta',
    img: 'static/img/mentors/Gloria_Basta.jpg',
    dsc: 'Speech Language Pathologist, ',
    linked: 'https://www.linkedin.com/in/gloria-basta'
  },
  {
    name: 'Gregory Speranza',
    img: 'static/img/mentors/Gregory_Speranza.jpg',
    dsc: 'President ',
    linked: 'https://www.linkedin.com/in/gregsperanza'
  },
  {
    name: 'Javeena Edwards',
    img: 'static/img/mentors/Javeena_Edwards.jpeg',
    dsc: 'CEO/Owner, JWV Consulting Firm LLC',
    linked: 'https://www.linkedin.com/in/javeena-a-edwards'
  },
  {
    name: 'Jennifer Loughran',
    img: 'static/img/mentors/Jennifer_Loughran.png',
    dsc: 'Associate Director, UB',
    linked: 'https://www.linkedIn.com/jennifer-loughran-lmsw-b813264a'
  },
  {
    name: 'Jessica Kelly',
    img: 'static/img/mentors/Jessica_Kelly.jpg',
    dsc: 'Office Manager, Creekside Village, Residential Life',
    linked: 'https://www.linkedin.com/in/jessicakelly0803'
  },
  {
    name: 'John Root',
    img: 'static/img/mentors/John_Root.jpg',
    dsc: 'Sr. Finance & Grants Associate, UB',
    linked: 'https://www.linkedin.com/in/johnaroot/'
  },
  {
    name: 'Julie Gajewski',
    img: 'static/img/mentors/Julie_Gajewski.jpg',
    dsc: 'Educational Strategy Consultant',
    linked: 'https://www.linkedin.com/in/julie-gajewski'
  },
  {
    name: 'Leah Barney',
    img: 'static/img/mentors/Leah_Barney.jpg',
    dsc: 'Assistant Director, Liberty Partnerships Program, UB',
    linked: 'https://www.linkedin.com/in/leahbarney/'
  },
  {
    name: 'Lynne Thornton',
    img: 'static/img/mentors/Lynne_Thornton.jpg',
    dsc: 'SVP Leadership Development , CEO ',
    linked: 'https://www.linkedin.com/in/lynne-thornton/'
  },
  {
    name: 'Mahima Frescas',
    img: 'static/img/mentors/Mahima_Frescas.jpeg',
    dsc: 'Business Performance Lead, Moog Inc.,',
    linked: 'https://www.linkedin.com/in/frescasmahima'
  },
  {
    name: 'Malinda Keidel',
    img: 'static/img/mentors/Malinda_Keidel.jpg',
    dsc: 'Project Coordinator, UB',
    linked: 'https://www.linkedin.com/in/malindakeidel'
  },
  {
    name: 'Mark Stramaglia',
    img: 'static/img/mentors/Mark_Stramaglia.jpg',
    dsc: 'Principle and CEO, Let\'s Get Started Consultancy',
    linked: 'https://www.linkedin.com/in/mark-stramaglia'
  },
  {
    name: 'Mary Ruelle',
    img: 'static/img/mentors/Mary_Ruelle.jpg',
    dsc: 'Director of Strategic Talent Initiatives, TechBuffalo',
    linked: 'https://www.linkedin.com/in/mary-ruelle/'
  },
  {
    name: 'Matthew Spector',
    img: 'static/img/mentors/Matthew_Spector.jpeg',
    dsc: 'Integration Developer, LeapPoint',
    linked: 'https://www.linkedin.com/in/matthew-spector'
  },
  {
    name: 'Matthew Taboni',
    img: 'static/img/mentors/Matthew_Taboni.jpeg',
    dsc: 'Associate, Colligan Law LLP',
    linked: 'https://www.linkedin.com/in/matthew-taboni'
  },
  {
    name: 'Max Bolotin',
    img: 'static/img/mentors/Max_Bolotin.png',
    dsc: 'Financial Analyst, Northrop Grumman',
    linked: 'https://www.linkedin.com/in/maxwellbolotin/'
  },
  {
    name: 'Megan Lostracco-Reed',
    img: 'static/img/mentors/Megan_Lostracco-Reed.JPG',
    dsc: 'Chief Strategy & IT Officer',
    linked: 'https://www.linkedin.com/in/meganlostracco'
  },
  {
    name: 'Michael Koziej',
    img: 'static/img/mentors/Michael_Koziej.jpg',
    dsc: 'Director, UB',
    linked: 'https://www.linkedin.com/in/michael-koziej-baab2b144/'
  },
  {
    name: 'Michael Pease',
    img: 'static/img/mentors/Michael_Pease.png',
    dsc: 'CEO',
    linked: 'https://www.linkedin.com/in/michael-pease-826a2212/'
  },


  {
    name: 'Michael Seils',
    img: 'static/img/mentors/Michael_Seils.jpeg',
    dsc: 'Clinical assistant professor',
    linked: 'https://www.linkedin.com/in/michaelseils'
  },
  {
    name: 'Natalie Wasieczko',
    img: 'static/img/mentors/Natalie_Wasieczko.jpeg',
    dsc: 'Operations Manager, Founder & President',
    linked: 'https://www.linkedin.com/in/natalie-wasieczko-maol-34833865?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app'
  },
  {
    name: 'Nazmus Saquib',
    img: 'static/img/mentors/Nazmus_Saquib.JPG',
    dsc: 'Data Analyst, Research Foundation at SUNY at Buffalo',
    linked: 'https://www.linkedin.com/in/nazmus-saquib-bd/'
  },
  {
    name: 'Nishanth Holla Raghavendra',
    img: 'static/img/mentors/Nishanth_Holla_Raghavendra.jpg',
    dsc: 'Business Analyst',
    linked: 'https://www.linkedin.com/in/nishanthhollar'
  },
  {
    name: 'Nicholas Singh ',
    img: 'static/img/mentors/Nicholas_Singh.jpg',
    dsc: 'Business Analyst',
    linked: 'https://www.linkedin.com/in/nicholassingh1/'
  },
  {
    name: 'Salman Ahmed',
    img: 'static/img/mentors/Salman_Ahmed.jpg',
    dsc: 'Assistant Vice President, Branch Manager, M&T Bank',
    linked: 'https://www.linkedin.com/in/salmanah'
  },
  {
    name: 'Sam Hill',
    img: 'static/img/mentors/Sam_Hill.jpeg',
    dsc: 'VP of People & Culture and Strategic Initiatives.',
    linked: 'https://www.linkedin.com/in/sam-hill'
  },
  {
    name: 'Samantha Smith',
    img: 'static/img/mentors/Samantha_Smith.png',
    dsc: 'Functional Consultant, Doctums Consulting',
    linked: 'https://www.linkedin.com/in/samantha-calabrese'
  },
  {
    name: 'Serena Washburn',
    img: 'static/img/mentors/Serena_Washburn.jpg',
    dsc: 'Student Engagement Coordinator, UB',
    linked: 'https://www.linkedin.com/in/serena-washburn/'
  },
  {
    name: 'Tara Jabbaar-Gyambrah',
    img: 'static/img/mentors/Tara_Jabbaar_Gyambrah.jpeg',
    dsc: 'CEO & Adjunct professor',
    linked: 'https://www.linkedin.com/in/drtarajg/'
  },
  {
    name: 'Terry McCarthy',
    img: 'static/img/mentors/Terry_McCarthy.jpg',
    dsc: 'Curriculum Director, Assistant Principal',
    linked: 'https://www.linkedin.com/in/terrance-mccarthy-ed-d'
  },
  {
    name: 'Tessa Pszonak',
    img: 'static/img/mentors/Tessa_Pszonak.jpeg',
    dsc: 'Stewardship Coordinator, University at Buffalo',
    linked: 'https://www.linkedin.com/in/tessa-p/'
  },
  {
    name: 'Thomas Weimer',
    img: 'static/img/mentors/Thomas_Weimer.jpeg',
    dsc: 'Talent & Organizational Capability Manager',
    linked: 'https://www.linkedin.com/in/thomasrweimer'
  },
  {
    name: 'Tommy Linares',
    img: 'static/img/mentors/Tommy_Linares.PNG',
    dsc: 'Employer Relations Associate, Career Design Center',
    linked: 'https://www.linkedin.com/in/tommylinares/'
  },
  {
    name: 'Tracy Diina',
    img: 'static/img/mentors/Tracy_Diina.jpg',
    dsc: 'Consultant,  Tracy Diina Communications',
    linked: ''
  },
  {
    name: 'Tyler Bauer',
    img: 'static/img/mentors/Tyler_Bauer.jpg',
    dsc: 'Change Management Specialist,UB',
    linked: 'https://www.linkedin.com/in/tylerjbauer'
  },
  {
    name: 'Whitney Singleton',
    img: 'static/img/mentors/Whitney_Singleton.jpg',
    dsc: 'Founder/Talent, KeepUpRadio LLC',
    linked: 'https://www.linkedin.com/in/whitney-singleton-664852b7/'
  },
  {
    name: 'Zoey Maggiore',
    img: 'static/img/mentors/Zoey_Maggiore.jpg',
    dsc: 'Marketing Production Coordinator, Hodgson Russ LLP',
    linked: 'https://www.linkedin.com/in/zoeymaggiore/'
  }
];

        cards.forEach(function (t, i) {
            var cardhtml = `<div class="card">
    <h2 class="title">${
                t.name
            }</h2>

    <div class="image">
      <img src="${
                t.img
            }" alt="${
                t.dsc
            }">
    </div>
  <p class="description">${
                t.dsc
            }</p>
    <div class="button-28-div">
        <button onclick="window.location.href='${
                t.linked
            }'" class = "button-28" role = "button">Connect</button>
    </div>
                       


</div>`
            $('.card-slider').append(cardhtml)
        })
        $('.card-slider').slick({
            dots: false,
            arrows: true,
            slidesToShow: 5,
            infinite: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3
                    }
                }, {
                    breakpoint: 800,
                    settings: {
                        slidesToShow: 2
                    }
                }, {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });
    });

    function openschedule(evt, cityName) {
        var i,
            tabcontent,
            tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
</body>
</html>
